.hero {
  margin: 0;
  padding: 0;
}

.custom-nav{
    /* background-color: #6D8EC5; */
    background-color: white;
}

.hero-section{
    min-height: calc(100vh - 66px);
}

.about{
    background-color: #F8D78F;
}

.services{
    background-color: #62751e;
}

.projects{
    /* background-color: #F7E5C1; */
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}