
.navbar-nav .nav-link:hover {
  color: #0d6efd !important; 
}

.custom-nav{
    background-color: white;
}

.hero {
  margin: 0;
  padding: 0;
}

.about{
    background-color: #073737;
}

.about strong {
  color: #d3ab33; 
}


.services{
    background-color: #e6f0f3;
}

.projects{
    background-color: #686565;
}

/* .projects-text{
    color: #d3ab33;
} */

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.hover-shadow:hover {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

