.hero {
  margin: 0;
  padding: 0;
}

.custom-nav{
    /* background-color: #6D8EC5; */
    background-color: white;
}

.hero-section{
    min-height: calc(100vh - 58px);
}

.about{
    background-color: #F8D78F;
}

.services{
    background-color: #62751e;
}

.projects{
    /* background-color: #F7E5C1; */
}